
body {
		background-color:#E9E7E1;
}
h2{
	font-family: 'Roboto Mono', monospace;
	font-weight:800;
	color: #000;
	text-align: center;
}
h4{
	font-family: 'Roboto Mono', monospace;
	font-weight:600;
	color: #000;
}
p{
	font-family: 'Source Code Pro', monospace;
	font-weight:400;
	color: #000
}
form{
	font-family: 'Source Code Pro', monospace;
	font-weight:400;
	color: #000
}
table{
	font-family: 'Source Code Pro', monospace;
	font-weight:400;
	color: #000;
}
table th,td{
	padding: 20px;
	word-wrap: break-word;
}
footer{
	margin-top: 50px;
}
main{
	margin-top: 200px;
	margin-bottom: 200px;
}
.ordertable{
	border: 2px #ACA89B solid;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.ordertable th{
	background-color: #ACA89B;
	border-radius: 20px 20px 0px 0px;
}
.ordertable h4{
	color: white;
}
#title{
	color: white;
	display: block;
}
#googlemap{
	margin-top: auto; 
	margin-bottom: auto;
	margin-left: auto; 
	margin-right: 0;
}
#contactus{
	border-radius: 25px;
	background: #ACA89B;
	padding: 50px 70px 70px;
	margin: 50px auto;
	width: 1500px;
}
#contactus h2{
	text-align: left;
}
#flexbox{
	display: inline-flex;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}

.radio-inline{
	margin: 0px 40px 20px 0px;
	cursor: pointer;
}

.showLike{

	display:none;
}
.upper{
	margin-bottom: 150px;
}
.nav{
	position:fixed;
	display: flex;
  justify-content: center;
  background-color: #D5D1C2;
  width: 100%;
  left: 0;
  top: 0;
}
.nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  align-items: center;
  background-color: #D5D1C2;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
/*.center_menu{
	margin: 0 auto;
} */
.nav a {
  text-decoration: none;
  color: #000;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #868274;
}
 
.nav a.active {
  background-color: #868274;
  color: #444;
  cursor: default;
}
@media screen and (min-width: 600px) {
  .nav li {
    width: 200px;
    border-bottom: none;
    height: 145px;
    line-height: 145px;
    font-size: 1.4em;
  }
 
	/* Option 1 - Display Inline*/
  .nav li {
    display: inline-block;
    margin-right: -4px;
}
/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D5D1C2;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    width: auto;
    height: 150px;
  }

  li a:hover:not(.active) {
    background-color: #868274;
  }*/
	